@import "tailwindcss";

body {
  @apply bg-black text-white font-sans;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

button,
select,
input,
textarea {
  @apply border border-white hover:bg-gray-700 active:bg-gray-900 px-1 cursor-pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
