name: On Push
on:
  push:
    branches:
      - main

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
  formatting:
    uses: ./.github/workflows/formatting.yml
  deploy:
    # needs: ci
    uses: ./.github/workflows/deploy.yml
